# Dependencies
node_modules/
.pnp
.pnp.js
.pnpm-store/
package-lock.json

# Build
.next/
dist/
out/
build/
.turbo/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
apps/api/src/prisma/migrations/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
